<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- bootstrap CSS --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  {{!-- global CSS --}}
  <link rel="stylesheet" href="/stylesheets/global.css">
  <title>Document</title>
</head>

<body>

  {{{body}}}

{{!-- bootstrap Java --}}
<script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>